body {
  margin: 0;
}
$primary-color: #f38181;
$secondary-color: #95E1D3;
$yellow:#FBE389;;

.navbarTop{
  padding-left: 50px;
  padding-right: 50px;
  width: 100%;
  .navbar-brand{
    color:white;
    font-weight: bolder;
    font-size: 24px;
  }
  .burgerMenue{
    color:white;
  }
  
  .collapseContent{
    .nav-item{
      border-bottom:3px solid rgba(0, 0, 0, 0);
      &:hover{
        border-bottom:3px solid $yellow; 
        a{
          color:$yellow;
        }
      }
    }
    a{
      color:white;
    } 
  }
}
.scrolledNav{
  background-color: $primary-color;
  z-index: 10;
}
header{
  background-image: url('../images/header.png');
  background-position: center;
  background-repeat: no-repeat; 
  background-size: cover;
  min-height: 100vh;

  .headingTxt{
    position: relative;
    padding:20px;
    max-width: 450px;
    margin: auto;
    padding-top:200px;
    color:white;
    text-align: center;
    .subheading{
      font-size: 40px;
    }
    .heading{
      font-size: 70px;
      &::before{
        width: 10%;
        height: 5px;
        bottom: -20px;
        left: 45%;
        border-bottom: 3px solid white;
     
    }
    } 
  }
  .learnMoreBtn{
    border-radius: 0;
    display: block;
    margin:auto;
    margin-top: 20px;
    border:3px solid white;
    font-weight: bold;
    padding-left:20px;
    padding-right: 20px;
  }
}
.subHeading{
  font-family: 'Kaushan Script', cursive;
}
.heading{
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  position: relative;
  margin-bottom: 50px;
  &::before{
    content: "";
    position: absolute;
    padding-bottom: 30px;
  }
}
.headingIntro{
  text-align: center;
  padding-left:20px;
  padding-right: 20px;
  margin-bottom:50px;
  color:gray;
}
.headings{
  text-align:center;
  .subHeading{
    font-size: 24px;
  }
  .heading{
    display: inline-block;
    padding-bottom: 30px;
    &::before{
      width: 30%;
      height: 5px;
      bottom: 0;
      left: 35%;
      border-bottom: 3px solid $primary-color;
    }
  }
}
.target {
  position: absolute;
  left: 0px;
  top: -100px;
}
.aboutSection{
  position: relative;
  margin-top:50px;
  text-align: center; 
  .aboutImagesSection{
    display: flex;
    align-items: center;
    justify-content: center;
    
    .aboutImg{
      width: 100%;
      margin-bottom: 20px;
      height: 100%;
      &:hover{
        box-shadow: 10px 10px 0px 0px $secondary-color;
      }
    }
    margin-top: 30px;
  }
}
.statsSection{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $secondary-color;
  min-height: 100px;
  width: 100%;
  margin-top: 50px;
  text-align: center;
  font-weight: bolder;
  .statElement{
    padding-top:40px;
    padding-bottom:40px;
    border-left:1px solid white;
    border-right:1px solid white;
    .statNumb{
      font-size: 60px;
      color:white;
    }
    .statTxt{
      color:white;
    }
  }
}
.servicesSection{
  position: relative;
  margin-top:50px;
  .serviceElement{
    margin-top:50px;
    padding-bottom:50px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    img{
      padding: 0px 10px 10px 10px;
    }
    h3{
      font-size: 20px; 
    }
  }
}
.uniqueDesignSection{
  margin-top:50px;
  margin-bottom: 100px;
  padding-top: 50px;
  background-image: url('../images/uniqueDesign/bg-unique-design.jpg');
  background-position: center;
  background-repeat: no-repeat; 
  background-size: cover;
  position: relative;
  .ipadImg{
    width: 350px;
    display: block;
    margin: auto;
  }
  .phoneImg{
    position:absolute;
    width: 200px;
    bottom:-80px;
    left:55%;
  }
}
.whatWeDoSection{
  .whatWedoImg{
    width: 100%;
    margin-bottom:10px;
  }
  .accordion{
  
    button{
      width: 100%;
      margin-bottom:10px;
      background-color: white;
      border:1px solid lightgray;
      text-align: left;
      img{
        padding:5px;
      }
    }
    .accElementTxt{
      width: 100%;
      height: 150px;
      margin-bottom: 10px;
      padding: 10px;
      overflow-y: auto;
    }
  }
  .arrow{
    float:right;
    border: solid gray;
    border-width: 0 3px 3px 0;
    display: inline-block;
    margin:10px;
    margin-top:15px;
    padding: 5px;
    
  }
  .arrowDown{
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
  .arrowUp{
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }
}
.meetTheTeamSection{
  position: relative;
  margin-top:50px;
  .teamMemberImg{
    width: 100%;
    &:hover{
      box-shadow: 10px 10px 0px 0px $secondary-color;
      cursor: pointer;
    }
  }
  .teamMemberTxt{
    text-align: center;
    margin-top:20px;
    h4{
      font-size: 18px;
      font-weight: normal;
    }
    p{
      font-style: italic;
      color:gray;
    }
  }
}
.clientsSection{
  margin-top:50px; 
  background-color: rgb(238, 238, 238);
  padding-top:20px;
  padding-bottom:20px;
}
.prevWorkSection{
  margin-top:50px;
  position: relative;
  .galleryImg{
    &:hover{
      background-image: linear-gradient($primary-color, $yellow);
    }
    .txtOnHover{
      position:absolute;
      text-align: center;
      top:40%;
      color:white;
      width: 100%;
    }
  }
  .prevWorkImg{
    position: relative;
    width: 100%; 
    z-index: 2;
    &:hover{
      opacity: 0.2;
    }
  }
  .col-lg-3{
    padding:0px;
  }
}
.testimonialSection{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top:50px;
  background-color: white;
  width: 100%;
  min-height: 200px;
  img{
    width: 150px;
  }
  .testimonialImg{
    border:2px solid $secondary-color;
    margin:20px;
  }
}
.reviewSection{
  margin-top:50px;
  padding-top: 50px;
  padding-bottom: 50px;
  background-image: url('../images/review/reviewBg.jpg');
  background-position: center;
  background-repeat: no-repeat; 
  background-size: cover;
  color:gray;
  .reviewElement{
    padding:25px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    img{
      padding-right:5px;
    }
    .workTitle{
      position: relative;
      font-style:italic;
      margin-bottom:20px;
      &::after{
        content: "";
        position: absolute;
        left:0;
        top:-10px;  
        width: 60px;
        padding-bottom: 50px;
        border-bottom: 3px solid $primary-color;
      }
    }
    h4{
      font-size: 18px;
    }
    p{
      margin-top:35px;
    }
  }
}
.blogSection{
  position: relative;
  margin-top:50px;
  .center{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .blogImg{
    width: 100%;
  }
  .imgSection{
    position: relative;
    .date{
      position: absolute;
      bottom:10px;
      left:-10px;
      background-color: $secondary-color;
      width: 60px;
      text-align: center;
      color:white;
      padding-bottom: 5px;
      .numbDate{
        display: block;
        font-size: 24px;
        font-weight: bold;
      }
      .month{
        font-style: italic;
      }
    }
  }
  .blogTxt{
    color:gray;
    margin-top:16px; 
    .blogHeading{
      font-size: 18px;
    }
    .IconBlogComments{
      width: 20px;
    }

  }
  
}
footer{
  margin-top: 50px;
  width: 100%;
  .footerMap{
    max-width: 100%;
    img{
      max-width: 100%;
    }
    
  }
  .footerContent{
    padding-top:50px;
    padding-bottom:20px;
    color:gray;
    background-color: rgb(241, 241, 241);
    width: 100%;
    .bold{
      font-weight: bold;
      color:black;
    }
    .blogPost{
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      img{
        padding-right:10px;
      }
      .blogPostTxt{
        padding: 5px;
        font-size: 14px;
        span{
          font-style: italic;
          font-size: 14px;
        }
      }
    }
    .subscribeForm{
      margin-top:40px;
      margin-bottom:40px;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      input{
        padding:10px;
        margin:0;
        border:none;
      }
      button{
        background-color: $secondary-color;
        color:white;
        border:none;
        padding:10px;
        margin:0;
      }
    }
    .instagramSection{
      .instaImg{
        margin-top:5px;
        width: 100px;
      }   
    }
  }
}
.slider{
  padding-left:20px;
  img{
    padding:10px;
    margin-left:30px;
  }
  .txtTestimonal{
    padding:20px;
    p{
      font-style: italic;
      font-size: 18px;
      color:gray;
    }
    span{
      font-family: 'Kaushan Script', cursive; 
      position: relative;
      padding-left: 50px;
      &::before{
        content: "";
        position: absolute;
        left: 0;
        top: 5%;
        width: 40px;
        padding-bottom: 10px;
        border-bottom: 3px solid $primary-color;

      }
    }
  }
}
/**slider**/
.bx-wrapper{
  background:white !important;
  box-shadow: none;
  border:none;
  padding:20px;
  margin:0;
}
.bx-viewport{
  padding-left:50px;
  padding-right:0px;
}

.learnMoreModal{
  .modal-header{
    background-color:$primary-color;
    color:white;
  }
  .modal-footer{
    background-color:  $primary-color;
  }
  .closeModalBtn{
    background-color: white;
    color:black;
  }
  .modal-body{
    height: 400px;
    overflow-y: auto;
    img{
      width: 100%;
      padding:20px;
    }
    p{
      padding:20px;
    }
  }
}

//Media Queries
@media only screen and (max-width: 768px) {
  .statsSection{
    .statElement{
      padding-top:20px;
      padding-bottom:20px;
      .statNumb{
        font-size: 30px;
      }
      .statTxt{
        font-weight: 400;
        font-size: 14px;
      }

    }
  }
}

@media only screen and (min-width: 992px) {
  .serviceElement:nth-child(-n+3){
    border-bottom: 1px solid rgb(212, 212, 212);
  }
}
@media only screen and (max-width: 991px) {
  .navbarTop{
    background-color: $primary-color;
  }
}
@media only screen and (max-width: 576px) {
  .statsSection{
    .statElement{
      padding-top:15px;
      padding-bottom:15px;
      .statNumb{
        font-size: 16px;
      }
      .statTxt{
        font-weight: 300;
        font-size: 10px;
      }

    }
  }
  .uniqueDesignSection{
    .ipadImg{
      width: 200px;
    }
    .phoneImg{
      position:absolute;
      width: 100px;
      bottom:-40px;
      left:55%;
    }
  }
  
  header{
    .headingTxt{
      .subHeading{
        font-size: 28px;
      }
      .heading{
        font-size: 34px;
      } 
    } 
  }
}
